.bg-light .homebannerrow {
  max-width: 1240px;
  margin: 0 auto;
}
.homebannerrow .greeting {
  font-weight: bold;
  color: #ff026f;
  font-size: 52px;
}
.homebannerrow .newmailbox {
  background: #fff;
  box-shadow: 0 2px 25px 2px #d5dbfb;
  border-radius: 6px;
  font-size: 18px;
  position: relative;
}
.homebannerrow .newmailwrapper {
  display: flex;
  justify-content: space-between;
}
.homebannerrow .newmailwrapper .newmailnotifyrow {
  width: 67%;
  justify-content: space-between;
  display: flex;
  gap: 10px;
}
.mailnumber span {
  padding: 3px 12px 3px;
  border-radius: 6px;
  background-color: #d8d8d8;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff016e;
}
.mailview {
  color: #ff026f;
}
/* webinar */
.webinarwrap .webinartitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #91278f;
  margin-top: 2rem;
}
.webinarpeoplerow {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.peoplecard {
  max-width: 175px;
}
.registernow-btn-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerbtn {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff !important;
  padding: 11px 18px 10px 18px;
  border-radius: 3px;
  background-color: #ff006e;
  text-align: center;
  width: 215px;
  margin: 2rem auto 44px;
}
.webinarliverow {
  padding: 10px 25px 15px 19px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 2px 11px 2px rgba(0, 0, 0, 0.07);
  background-color: #303030;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.webinarliverow div {
  color: #fff;
}
.slick-dots {
  bottom: 18%;
}
.home-box-v1 {
  padding-right: 3rem !important;
}
.home-main-box-v2 {
  background: linear-gradient(
    90deg,
    rgba(245, 245, 246, 1) 0%,
    rgba(245, 245, 246, 1) 35%,
    rgba(248, 249, 250, 1) 100%
  );
  padding-left: 3rem !important;
  position: relative;
}
.home-v2box {
  box-shadow: 0 4px 5px #ddd;
  padding: 25px 20px 6px 25px;
  background: #fff;
  z-index: 999;
  min-height: 594px !important;
  max-width: 580px;
  animation: blink-animation 0.2s;
}
@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.moduledate {
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.moduledate .datestatuswrap {
  gap: 10px;
}
.moduledate .status {
  color: #ff026f;
  padding-right: 5px;
  font-weight: bold;
}
.dropcourse {
  display: flex;
  gap: 7px;
  align-items: center;
}
.dropcourse span {
  color: rgb(0, 123, 255);
}
.home-v2box h3 {
  font-size: 22px;
  font-weight: bold;
}
.home-v2box h5 {
  font-size: 16px;
}
hr {
  border: 0 !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  opacity: 1 !important;
}
.hr-br-yellow {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 3px;
  background: #fdb600;
  border: none;
}
.currentmodulerow .currentmodule {
  font-size: 16px;
  font-weight: bold;
}
.startedvalidrow {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.startedvalidrow .currentmodule-arrow {
  border-radius: 100%;
  background-image: linear-gradient(
    88deg,
    #ff006e 2%,
    #ff4e9a 98%,
    #ffffff 98%
  );
  color: #fff;
  padding: 5px 6px;
}
.currentmodulerow h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}
.startedvalidrow span {
  font-size: 13px;
  font-weight: 500;
}
.startedvalidrow .gotomodulepage {
  display: flex;
  gap: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #ff006e !important;
  margin-top: 3px;
}
.box-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.box-btn-wrap .resume-learning {
  height: 52px;
  align-items: center;
  display: flex;
  border-radius: 32px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 18px 15px 47px;
  border: 1px solid #ff006e;
  background: #ff006e
    url(https://ulearn.uniathena.com/Images/icons/learning.svg) no-repeat 2px
    center;
}
.box-btn-wrap .goto-course {
  height: 52px;
  border-radius: 32px;
  color: #ff006e;
  align-items: center;
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #ff006e;
  min-width: 159px;
}
/* .box-btn-wrap .goto-course:hover{
  background: #ff006e;
} */
.slick-dots li button:before {
  background-color: black;
  height: 3px;
  width: 20px;
  text-indent: -9999px;
  overflow: hidden;
}
.assignmentdue {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}
.assignmentdue .duein {
  font-size: 18px;
  font-weight: bold;
}
.assignmentdue .days,
.assignmentdue h5 {
  font-size: 16px;
  /* font-weight: bold; */
}
.assignmentdue .draftbtn {
  border-radius: 100px;
  border: solid 1px #ff026f;
  display: inline-block;
  text-align: center;
  min-width: 75px;
  padding: 4px 8px 4px;
  color: #ff026f;
  font-size: 14px;
}
.assignmentdue .bottomline {
  border-bottom: solid 3px #ff006e;
  position: absolute;
  width: 50%;
  bottom: -16px;
}
.gotodetailpage button {
  text-align: center;
  display: block;
  color: #303030;
  background: #ffc100;
  margin: 0 auto;
  width: 50%;
  padding: 5px 0;
  border-radius: 32px;
  margin-bottom: 15px;
}
.btm-demy-card {
  position: relative;
  width: 100%;
  transform: translate(-0%, 58px);
}
.card-btm-box-pink {
  position: relative;
  background: #fff;
  box-shadow: 0 4px 5px #ddd;
  margin: 6px auto 2px;
  border-right: 9px solid #ff0e76;
  height: 25px;
}
.card-btm-box-blue {
  background: #fff;
  box-shadow: 0 4px 5px #ddd;
  width: 90%;
  margin: 0 auto;
  border-right: 9px solid #0062b1;
  height: 25px;
}
.modulearrowbtn {
  border: none;
  position: absolute;
  left: -2rem;
  background: transparent;
}

/* discussion */
.discussionwrapper {
  background-color: #f8f9fa;
}
.discussionwrapper .discussionrow {
  max-width: 1200px;
  margin: 0 auto;
}
.discussiontop {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.discussiontop h2 {
  border-bottom: 4px solid #f00297;
}
.discussiontop button {
  background: linear-gradient(to right, #ff006e 0%, #ff4e9a 100%, #fff 100%);
  color: #fff;
  border: none;
  border-radius: 3px;
  display: inline-block;
  min-width: 170px;
  height: 44px;
  margin-left: auto;
}
.discussionspeople {
  gap: 20px;
  /* margin-bottom: 2rem; */
}
.personimagewrap img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.discussioncontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.discussioncontent span {
  color: #666;
}
.dreadmore-btn {
  background: var(--defaultgradient);
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 3px;
  display: inline-block;
  color: #fff !important;
  border: none !important;
  margin: auto;
  margin-bottom: 1rem;
}
/* explorecourses */
.exporecoursecards {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
}
.explorecoursecard {
  width: 280px;
  min-height: 352px;
  position: relative;
}
.explorecoursecard:hover .startfreetrial-btn {
  display: block !important;
}
.explorecoursecard .courseimgwrap img {
  width: 280px;
  /* height: 352px; */
}
.startfreetrial-btn {
  background: linear-gradient(to right, #ff006e 0%, #ff4e9a 100%, #fff 100%);
  color: #fff;
  padding: 10px 25px;
  border-radius: 3px;
  display: none !important;
  width: 139px;
  height: 36px;
  position: absolute;
  border: none !important;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 2rem);
}
/* projectdetails */
.pdrow {
  max-width: 1200px;
  margin: auto;
}
.project-heading {
  font-weight: bold;
  font-size: 40px;
}
.pdrow select {
  border: none;
  background: transparent;
  border-bottom: 4px solid #f00297;
  padding-bottom: 5px;
  display: inline-block;
}
.certifiedmanagerhr {
  position: relative;
  width: 100%;
  margin: -2px 0 0 0;
  height: 10px;
}
.pdrow tr th:nth-child(2) {
  min-width: 246px;
}
.table > thead {
  vertical-align: top !important;
}
/* freetrailhome */
.speakto {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.speakto span {
  font-size: 24px;
  font-weight: bold;
  color: #303030;
}
.speakto .speakto-line {
  width: 49%;
  height: 0;
  border: solid 3px #ff459a !important;
  float: right;
  margin-top: 19px;
  padding: 0;
  border-radius: 5px;
}
.speakoptions {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.speakoptions div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.speakoptions input {
  position: relative;
  top: -3px;
  accent-color: var(--default);
}
.speattoemail,
.phoneinputwrap {
  border: none;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0 2px 18px -1px #d5dbfb;
  color: #999;
  font-size: 16px;
}
.speaktowrapper .speaksubmit-btn {
  background: var(--defaultgradient);
  padding: 12px 10px;
  width: 201px;
  border-radius: 32px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  line-height: 30px;
  margin: auto;
}
.speaktowrapper form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.phoneinputwrap input {
  border: none;
}
.highlightwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* column-gap: 20px; */
}
.highlightwrap div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}
.highlightwrap div span {
  font-size: 13px;
}
.highlightwrap div b {
  font-size: 17px;
}
/* testimonial */
.testimonialrow {
  max-width: 1200px;
  margin: 0 auto;
}
.theadcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.theadcontent p {
  max-width: 700px;
}
.testicardwrap {
  min-height: 430px !important;
  display: flex !important;
  align-items: center !important;
}
.testicard {
  display: flex !important;
  position: relative;
  z-index: 1;
  max-width: 826px;
  margin: 0 auto;
}
.testicardcontent {
  background: #ff026f;
  padding: 20px 13px 20px 34px;
  text-align: left;
  color: #fff;
}
.testicardbgbox {
  width: 300px;
  height: 394px;
  position: absolute;
  border: 8px solid #000;
  left: -58px;
  top: -29px;
  z-index: -1;
}
.changepassword-bg {
  background-image: linear-gradient(121deg, #762296 1%, rgba(0, 0, 0, 0) 113%),
    url(https://ulearn.uniathena.com/Images/athena-bg.jpg);
  background-size: cover;
}
.createpassword-wrap {
  max-width: 682px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  margin: 0 auto 45%;
  min-height: 500px;
}
.cptitle {
  color: var(--default);
  font-weight: 800;
  font-size: 24px;
}
.cpform-group,
.cpformbtnwrap {
  position: relative;
  max-width: 444px;
  margin: 0 auto;
}
.cpform-group label {
  position: absolute;
  top: -13px;
  left: 12px;
  background: #fff;
  padding: 1px 15px;
  font-weight: bold;
}
.cpform-control {
  display: block;
  width: 100%;
  height: calc(3em + 0.75rem + 2px);
  padding: 12px 26px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #182b4f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.15rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.createpassword-wrap .cp-btn {
  background: var(--defaultgradient);
  color: #fff;
  width: 127px;
  border: none;
  border-radius: 3px;
  height: 52px;
}
.cpformbtnwrap {
  display: flex;
  gap: 10px;
}
/* myonline class */
.upcomingdate-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.upcomingdate-wrap select {
  width: 160px;
  max-width: 160px;
  border: 1px solid #666;
  height: 40px;
}
.listgridselect-wrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.listgridselect-wrap div {
  display: flex;
  gap: 5px;
  padding-bottom: 1rem;
}
.inboxmailrow {
  max-width: 1200px;
  margin: 0 auto;
}
.inboxmailrow table tr td:nth-child(2) {
  cursor: pointer;
}
/* bookacall */
.bookacall-form-wrap,
.course-enrol-detail {
  max-width: 1200px;
  margin: 0 auto;
}
.bookacall-form-row {
  max-width: 900px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.21);
  margin: 0 auto 30px;
  background: #eee;
  padding: 15px 25px;
  border-radius: 5px;
  min-height: 500px;
}
.bac-title {
  text-align: center;
  padding: 13px 21px;
  background: #efefef;
  color: #ff006e !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.21);
}
.bac-nameemail-wrap {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.bac-nameemail-wrap div {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.nam1-1a {
  color: var(--default);
  line-height: 38px;
  font-weight: 600;
}
.bac-form-group-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.bac-form-group {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.bac-form-group select,
.bac-form-group input {
  min-height: 38px;
  border: none;
  padding-left: 10px;
}
.bac-form-group label {
  color: var(--default);
}
.bac-form-group .PhoneInput input {
  border: none;
}
.bac-form-group .PhoneInput {
  background: #fff;
  padding-left: 1rem;
}
.bac-form-group button {
  max-width: 200px;
}
/* submitassignemnt */
.ae-row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.bg-gray {
  background-color: #f5f5f5;
}
.ae-content {
  padding-right: 2rem;
}
.no-comments {
  color: gray;
  font-size: 13px;
}
/* project seb details */
.project-sub-details-wrap {
  max-width: 1200px;
}
.project-sub-details-wrap div {
  display: flex;
  flex-wrap: wrap;
}
.project-sub-details-wrap div div {
  border: 1px solid #dee2e6;
  flex-direction: column;
  padding: 2rem;
  /* border-right: 1px solid #dee2e6; */
}
.reference-card-wrap {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
.reference-card-wrap .reference-card {
  width: 262px;
  height: 132px;
}
.reference-card-wrap .reference-card .reference-card-img {
  width: 210px ;
  background: #666;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11px auto;
  cursor: pointer;


}
.project-file-title th{
  background-color: #f1f3f5 !important;
}
@media (max-width: 1024px) {
  .homebannerrow .greeting {
    font-size: 38px;
  }
  .testicardbgbox {
    display: none;
  }
}
@media (max-width: 768px) {
  .home-box-v1,
  .ae-content {
    padding-right: 0 !important;
  }
  .draftbtn {
    max-width: 75px;
    max-height: 30.6px;
  }
  .startedvalidrow {
    flex-wrap: wrap;
  }
  .highlightwrap,
  .ae-row {
    flex-direction: column;
  }
  .pdrow select,
  .bac-form-group,
  .project-sub-details-wrap div div {
    width: 100%;
  }
  .speaktowrapper .speaksubmit-btn {
    background: var(--defaultgradient);
    padding: 5px;
    width: 150px;
    border-radius: 32px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    line-height: 30px;
  }
  .modulearrowbtn {
    left: -1rem;
  }

  .modulearrowbtn img {
    max-width: 65px;
  }
  .testicardimg img {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .testicard {
    flex-direction: column;
  }
  .testicardimg img {
    width: 100%;
    max-height: 400px;
  }
  .testicardcontent {
    order: 1;
  }
}
@media (min-width: 576px) {
  .inboxmailpopup .modal-dialog {
    max-width: 900px;
  }
}

@media (max-width: 480px) {
  .homebannerrow .newmailwrapper {
    flex-direction: column;
    padding-bottom: 13px;
  }
  .homebannerrow .newmailwrapper .newmailnotifyrow {
    width: 100%;
  }
  .mailview {
    text-align: end;
    margin-top: 1rem;
  }
  .slick-dots {
    bottom: 20%;
  }
  .box-btn-wrap {
    flex-wrap: wrap;
  }
  .homebannerrow .greeting {
    font-size: 32px;
  }

  .home-main-box-v2 {
    padding-right: 0;
  }
  .discussiontop {
    padding-bottom: 1rem;
  }
  .navbar-brand img {
    max-width: 120px;
  }
  .speakto span {
    font-size: 17px;
  }
  .speakto {
    align-items: center;
  }
}
@media (max-width: 380px) {
  .slick-dots {
    bottom: 23%;
  }
}
