.footerbackground {
  background: #303030 !important;
  padding: 0 0 3rem 0 !important;
  color: #fff !important;
}
.footer {
  padding-top: 3.2rem;
  max-width: 1200px;
}
.newslatterrow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: 2rem;
}
.footer-url {
  background: #343a40;
  color: #fff;
  font-size: 13px;
  text-align: center;
  position: relative;
  z-index: 9;
  padding: 10px 0;
}
.colfooter {
  width: 32% !important;
  display: inline-block;
  vertical-align: top;
}
.footer p {
  font-size: 14px !important;
  line-height: 26px !important;
  padding: 0;
  line-height: 23px;
  margin: 0;
  font-size: 13px;
}
.footer h6{
  color: #ff4e9a;
    font-weight: bold;
    /* margin-top: 34px; */
    margin-bottom: 15px;
}
.foot-links p a {
  margin-bottom: 8px !important;
    display: block;
    color: #fff !important;
    text-decoration: none !important;
}
.foot-links > div, .subscribe{
  height: 271px !important;
}
.footer span {
  font-size: 13px !important;
  line-height: 46px;
  color: #fff;
}
.btn-br-small-purple {
  border-color: #7b00bc !important;
  border-radius: 20px !important;
  color: #7b00bc !important;
  padding: 5px 25px;
  background: #fff;
  font-size: 14px;
  max-width: 111px;
}

.footer input {
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
}
.foot-links p a:hover {
  color: #ff4e9a !important;

}
a {
  text-decoration: none !important;
  color: #212529 !important;
}
@media (min-width: 768px) {
  .colfooter {
    width: 22% !important;
  }
  
}
@media (max-width: 568px) {
    .colfooter {
      width: 47% !important;
    }
  }
.social-icons a img {
  width: 37px;
}

.footer p {
  font-size: 14px !important;
  line-height: 26px !important;
}

.footer span {
  font-size: 13px !important;
  line-height: 46px;
  color: #303030;
}

.footer-social .footer-westford {
  margin-top: 70px;
  margin-bottom: 1rem !important;
}

.footer-social .social-icons {
  margin-top: 20px;
  margin-bottom: 2rem !important;
}

.placedetails {
  width: 47%;
  display: inline-block;
  vertical-align: top;
}

.footer-address p {
  font-size: 12px !important;
  line-height: 31px;
}

.footer-address h6 {
  color: #ff4e9a;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer-url {
  background: #343a40;
  color: #fff;
  font-size: 13px;
  text-align: center;
  position: relative;
  z-index: 9;
  padding: 10px 0;
}

.footer-address {
  margin-bottom: 40px;
  padding: 0 0;
}
.footer-url p {
  margin-bottom: 1px !important;
}

.mt9 {
  margin-top: 9px;
}

.btn-radius {
  padding: 10px 12px 10px 13px;
  border-radius: 18.5px;
  background-image: linear-gradient(
    89deg,
    #ff006e 0%,
    #ff4e9a 100%,
    #ffd85e 100%
  );
  color: #ffffff;
  font-size: 14px;
}

.btn-radius:hover {
  padding: 10px 12px 10px 13px;
  border-radius: 18.5px;
  background-image: linear-gradient(
    89deg,
    #ff006e 0%,
    #ff4e9a 100%,
    #ffd85e 100%
  );
  color: #ffffff;
  font-size: 14px;
}
.w-70 {
  width: 80%;
}
footer .btn-br-small-pink {
  background: #FF4E9A;
  color: #fff;
  border: 0;
  width: 80%;
  display: block;
}
@media only screen and (max-width: 768px) {
  .example input[type="text"] {
    width: 100%;
    min-width: 250px !important;
    max-width: 100% !important;
  }

  .placedetails {
    width: 100%;
    display: block;
    vertical-align: top;
    margin-top: 20px;
  }

  .example {
    margin-left: 0 !important;
  }

  .footerbackground .body-content .footer .winner .img.fot-log-new {
    margin: 0 !important;
  }
  .subscribe{
    order: 1;
    margin-top: 2rem;
  }
   footer .foot-links {
    margin-top: 2rem;
        
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .newslatterrow {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 90% !important;
  }
  .foot-links > div, .subscribe{
    height: auto !important;
  }
}
@media (max-width:480px) {
  .w-70,footer .btn-br-small-pink {
    width: 100% !important;
  }
  
}