.profile-sections-row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}
.profile-sections-row span {
  color: #999;
  display: block;
  position: relative;
  padding: 0.2em 0;
  cursor: pointer;
}
.profile-sections-row span.profile-active {
  border-bottom: 3px solid var(--default);
  color: #303030;
}
/* Fade in */
.profile-sections-row span:not(.profile-active)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--default);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.profile-sections-row span:not(.profile-active):hover::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
  height: 0.13em;
}
/* Slide in */
.profile-sections-row span:not(.profile-active) {
  overflow: hidden;
}
.profile-sections-row span:not(.profile-active)::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}
.profile-sections-row span:not(.profile-active):hover::after {
  transform: translate3d(0, 0, 0);
}
.memberprofilewrap {
  max-width: 1200px;
  margin: 0 auto;
}
.mptitle {
  font-size: 40px;
  font-weight: bold;
}
.mpbox1 {
  display: flex;
  gap: 1rem;
}
.profilecards {
  display: flex;
  gap: 1rem;
}
.editprofile {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.editprofile span,
.profilecards p,
.editprofile i {
  color: #999;
}
.profile-img {
  object-fit: cover;
  height: 140px;
}
.progresscirclewrap {
  max-width: 120px;
  margin: auto;
}
.createvoice-list,
.blockedresume-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  gap: 5px;
  align-items: center;
}
.createvoice-list span {
  color: #6c757d;
  max-width: 273px;
}
.createvoice-list a,
.blue {
  color: blue !important;
  min-width: 74px;
}
.createvoice-list a.prc {
  font-size: 12px;
  background: var(--defaultgradient);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  border-radius: 3px;
  min-width: 74px;
  height: 24px;
}
.blockedresume-wrap span {
  color: var(--default);
  border-right: 1px solid #dee2e6;
  text-transform: uppercase;
}
.course-enroled-list:last-of-type + hr {
  display: none;
}
.deletview-btn-wrap {
  display: flex;
  gap: 5px;
}
.deletview-btn-wrap button {
  color: var(--default);
}
.plus-icon-wrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.plus-icon {
  font-size: 46px;
  line-height: 27px;
  color: #999;
  cursor: pointer;
}
/* personal billing */
.invoice-reciept-list {
  margin-bottom: 15px;
}
.invoice-reciept-list span {
  color: var(--default);
  font-size: 17px;
  /* color: #5b1986 !important; */
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.invoice-reciept-list .invoice-thead th,
.invoice-reciept-list .print-reciept-btn {
  background-color: var(--default);
  color: #fff;
}
.invoice-reciept-list .print-reciept-btn {
  border-radius: 3px;
  height: 29px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 101px;
}
.course-enroled-list .blockedresume-wrap a{
  text-transform: capitalize ;
  border: 1px solid var(--default);
    padding: 7px;
    border-radius: 5px;
    color: var(--default) !important;
}
.ed-details-form{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.ed-details-form .cpform-group{
  width: 32%;
  margin: 1rem 0;
}
.ed-details-form .cpform-group.dcgroup{
  width: 49%;
}
.ed-details-form .cpform-group .cpform-control {
  min-height: auto !important;
}
.formcheck input{
  min-height: auto;
}
.ed-details-form .form-check-input:checked {
  background-color: var(--default);
  border-color: var(--default);
}
.edit-profile-form{
  display: flex;
  gap: 1rem;
}
.edit-profile-data{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.edit-profile-data .cpform-group{
  width: 48%;
  margin-bottom: 0.6rem;
}
.edit-profile-img{
  max-width: 150px;
  display: flex;
  justify-content: center;
}
.edit-profile-form  input{
  min-height: auto;
}
.edit-profile-img input{
  border: none;
  padding-left: 0;
}
.custom-file-input {
  color: transparent;
  max-width: 130px;
  padding: 0;
  margin: 0.5rem 0;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Update';
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 28px;
  background: #000;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
.edit-profile-form .practicalinfo{
  padding: 1.5rem;
}
.edit-phoneinputwrap{
  padding-left: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    min-height: 62px;
}
.edit-phoneinputwrap .PhoneInput{
  min-height: 62px;
}
.edit-phoneinputwrap .PhoneInput input{
  border: none;
}
/* create invoice */

/* create invoice */
.flex-fast-btn-wrap.createinvoice .flex-fast-btn,.flex-fast-btn-wrap.createinvoice .flex-fast-btn.btn-active {
  width: 160px;
}
.create-invoice-form{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
}
.create-invoice-form .cpform-group{
  margin: 1rem auto;
  width: 30%;
}
.create-invoice-form .cpform-group label{
position: relative;
top: 0;
left: 0;
background: transparent;
padding-left:0;
}
.create-invoice-form .cpform-control{
  height: auto;
  border-radius: 5px;
}
.create-invoice-form select{
  color: var(--default);
  padding: 12px 10px;
}
.createinvoice-table input[type = checkbox]{
  accent-color:  var(--default);
  cursor: pointer;
  height: 16px ;
  width: 16px;
  border-radius: 2px;
}
.createinvoice-table tr td{
  color: #606060;
}
.createinvoice-table i{
  cursor: pointer;
  display: flex;
    justify-content: center;
}
@media (max-width:900px) {
  .ed-details-form .cpform-group label {
    font-size: 14px !important;
  }
  .mpbox1 {
    gap: 10px;
  }
  .edit-profile-form .practicalinfo{
    padding: 0;
  }
}
@media (max-width: 768px) {
  .mpbox1 {
    flex-direction: column;
  }
  .ed-details-form .cpform-group{
    width: 47%;
  }
  .ed-details-form .cpform-group label {
    font-size: 11px !important;
  }
  .edit-profile-data .cpform-group {
    width: 100%;
    margin-bottom: 1.5rem;
}
.create-invoice-form .cpform-group {
  margin: 1rem auto;
  width: 47%;
}
}
@media (min-width: 576px){
  .myprofileeditform .modal-dialog {
      max-width: 900px;
  }
  .editprofile .modal-dialog{
    max-width: 1200px;
  }
  
  }
@media (max-width: 480px) {
  .mptitle {
    font-size: 28px;
  }
  .profile-img {
    max-width: 100px;
    height: 110px;
  }
  .ed-details-form .cpform-group ,.ed-details-form .cpform-group.dcgroup{
    width: 100%;
  }
  .ed-details-form .cpform-group label {
    font-size: 14px !important;
  }
  .edit-profile-form {
    flex-direction: column;
  }
  .edit-profile-img{
    max-width: 100%;
  }
  .edit-profile-img .profile-img {
    width: 200px;
    height: 200px;
    max-width: 200px;
  }
  .custom-file-input {
    max-width: 200px;
  }
  .create-invoice-form .cpform-group {
    width: 100%;
  }
}
