.breadcrumb a {
  color: #007bff !important;
}
.progresswrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  align-items: center;
}
.progresswrap .vcpcircle {
  border: 2px solid #b40071;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  font-size: 13px;
}
.vcpcirclewrap {
  display: flex;
  /* justify-content:space-between ; */
  gap: 4rem;
}
.progresswrap .vcpcirclewrap .vcpcircleitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.overallstatus {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.progress-bar {
  background: var(--defaultgradient) !important;
}
.resumebtnwrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.resumebtnwrap .resume-first-lesson-btn {
  border-color: var(--default);
  border-radius: 20px;
  color: var(--default);
  border: 1px solid var(--default);
  background: #fff;
  font-size: 14px;
  max-width: 162px;
}
.resumebtnwrap .resume-first-lesson-btn:hover {
  border-color: var(--default);
  color: var(--default);
  border: 1px solid var(--default);
}
.progrescontainer {
  position: relative;
}
.progrescontainer .arrow-showhide-btn {
  background: #fff;
  color: #f00096;
  position: absolute;
  right: 8rem;
  bottom: -13px;
  letter-spacing: -2px;
  max-width: 53px;
  max-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.coursehomewrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}
.coursehometitle {
  display: flex;
  align-items: center;
  gap: 10px;
}
.coursehomewrap .coursehometitle a {
  font-size: 21px;
  color: #666 !important;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.7;
}
.coursehomewrap .coursehometitle a:hover {
  color: #000000 !important;
}
.coursechapters,
.coursechaptersections li {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.coursechapters img,
.coursechaptersections li img {
  opacity: 0.6;
  margin-top: 6px;
}
.coursechaptersections {
  padding-left: 24px;
}
.coursechaptersections li {
  list-style-type: none;
}
.quiz-assignbtn-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quiz-assignbtn-wrap .quizz-assign-btn {
  border-color: var(--default);
  border-radius: 5px;
  color: var(--default);
  border: 1px solid var(--default);
  background: #fff;
  font-size: 14px;
  max-width: 162px;
}
.quiz-assignbtn-wrap .quizz-assign-btn:hover {
  border-color: var(--default);
  color: var(--default);
  border: 1px solid var(--default);
}
.chapterview {
  position: relative;
  min-height: 500px;
}
.chapterview .arrow-showhide-coursehome-btn {
  position: absolute;
  top: 9rem;
  left: -6px;
  background: #fff !important;
  color: #f00096 !important;
  width: 11px;
  height: 53px;
  letter-spacing: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar {
    transition: margin 0.3s ease-in-out;
}
.arrow-steps .step.current {
  color: #fff;
  background-color: #f00096;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #666;
  min-width: 24.8%;
  float: left;
  height: 9px;
  position: relative;
  background-color: #eee;
  transition: background-color 0.2s ease;
}
.arrow-steps .step span {
  position: relative;
  cursor: pointer;
}
.arrow-steps .step.current span i {
  background: #f00096;
}

.arrow-steps .step span i {
  position: absolute;
  font-size: 20px;
  background: #eee;
  width: 32px;
  border-radius: 30px;
  height: 31px;
  padding-top: 6px;
  color: #eee;
  font-weight: bold;
  top: -15px;
  left: -14px;
}
.level-section-btn-wrap{
  gap: 10px;
}
.level-section-btn-wrap .level-section-btn{
  color: #90268e;
    margin: 0 auto;
  font-size: 14px;
  position: relative;
  min-width: 23%;
  border: none;
}
.level-section-btn-wrap .level-section-btn.current{
  background: linear-gradient(to right, #f00096, #ff69c7);
  margin: 10px;
  color: #fff !important;
  font-size: 14px;
  border-radius: 30px;
  position: relative;
  min-width: 23%;
}
.level-section-btn-wrap .level-section-btn.current .arrow-down {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f735af;
  position: absolute;
  left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    bottom: -12px;
    
}
.vp iframe{
  width: 100%;
}
.contentactive{
  display: block;
}
.contentnotactive{
  display: none;
}
.fadeanimation {
  transition: opacity .15s linear;
}
.fadeanimation:not(.contentactive){
  opacity: 0;
}
.arreference{
  display: flex;
  gap: 10px;
}
@media (max-width: 980px) {
  .progresswrap {
    flex-direction: column;
    align-items: normal;
  }
}
@media (max-width: 768px) {
  .coursehomewrap {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .arreference {
    flex-direction: column;
  }
}


