*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
body {
  font-family: 'Lato', sans-serif !important;
}
.flex{
  display: flex;
}
.content-center{
  justify-content: center;
}
.item-center{
  align-items: center;
}
.font-14{
  font-size: 14px;
}