*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:root {
  --default: #ff006e;
  --defaultgradient:linear-gradient(to right, #ff006e 0%, #ff4e9a 100%, #fff 100%);
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
body {
  font-family: 'Lato', sans-serif !important;
}
.flex{
  display: flex !important;
}
.content-center{
  justify-content: center;
}
.content-end{
  justify-content: flex-end;
}
.item-center{
  align-items: center !important;
}
.font-14{
  font-size: 14px;
}
.gap-10{
  gap: 10px;
}
.text-justify {
  text-align: justify ;
}
.default-btn{
  border-color: #ff006e !important;
background-color: #ff006e !important;
Color: #fff;
font-weight: bold;
}