*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:root {
  --default: #ff006e;
  --defaultgradient:linear-gradient(to right, #ff006e 0%, #ff4e9a 100%, #fff 100%);
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
body {
  font-family: 'Lato', sans-serif !important;
}
.flex{
  display: flex !important;
}
.content-center{
  justify-content: center;
}
.content-end{
  justify-content: flex-end;
}
.content-sb{
  justify-content: space-between;
}
.item-center{
  align-items: center !important;
}
.row-col{
  flex-direction: column !important;
}
.font-14{
  font-size: 14px;
}
.gap-10{
  gap: 10px;
}
.text-justify {
  text-align: justify ;
}
.default-btn{
  border-color: #ff006e !important;
background-color: #ff006e !important;
Color: #fff;
font-weight: bold;
}
.quick-enq {
  position: absolute;
  right: 0;
  top: 400px;
}
.quick-enq a:nth-child(1) {
  width: 30px;
  height: 30px;
  position: absolute;
  display: block;
  top: 39px;
  left: 23px;
}
.quick-enq a:nth-child(2) {
  width: 30px;
  height: 30px;
  position: absolute;
  display: block;
  top: 97px;
  left: 23px;
}
.quick-enq a:nth-child(3) {
  width: 30px;
  height: 30px;
  position: absolute;
  display: block;
  top: 151px;
  left: 23px;
}
.quizz-assign-btn {
  border-color: var(--default) !important;
  border-radius: 20px !important;
  color: var(--default) !important;
  border: 1px solid var(--default) !important;
  background: #fff !important;
  font-size: 14px!important;
  max-width: 162px !important;
}
.quizz-assign-btn:hover {
  border-color: var(--default)!important;
  color: var(--default)!important;
  border: 1px solid var(--default)!important;
}
@media (min-width:1200px) {
  .container-pr{
    padding-right: 4rem !important;
  }
}
@media (max-width:1200px) {
  .quick-enq{
    display: none;
  }
  
}